.libPaths( c("{{r__user_lib}}", .libPaths()) )
if(interactive()){
    options(vimcom.verbose = 1)
    # Load the libraries required by vim-r-plugin:
    library(colorout)
    library(setwidth)
    library(vimcom)

    # load frequently used packages
    library(stats) # avoid masking dplyr::filter
    library(data.table)
    library(readr)
    library(caret)
    library(ggplot2)
    library(reshape2)
    library(tidyr)
    library(dplyr)

    # Use the text based web browser w3m to navigate through R docs
    # in Linux Console after help.start():
    if(Sys.getenv("TMUX") != "" && Sys.getenv("DISPLAY") == "")
    options(browser = function(u) system(paste0("tmux new-window 'w3m ", u, "'")))
}
